{% extends "base.html" %}
{% block title %}Chamada Pública | Licitações | Prefeitura Municipal de Orlândia{% endblock %}
{% block content %}
    <section class="page-header">
        <div class="container">
            <h1>Chamada Pública</h1>
            <p>Chamadas públicas para aquisição de produtos, serviços ou parcerias com organizações sociais.</p>
        </div>
    </section>
    <section class="content-section">
        <div class="container">
            <ul class="document-list">
                <li><a href="#"><i class="fas fa-file-pdf"></i> Chamada Pública 03/2024 - Agricultura Familiar</a></li>
                <li><a href="#"><i class="fas fa-file-pdf"></i> Chamada Pública 04/2024 - Projetos culturais</a></li>
            </ul>
        </div>
    </section>
{% endblock %}
